---
import { Image } from "astro:assets";

import PillButton from "../components/PillButton.astro";

import post1 from "../shared-images/post1.jpg";
import post2 from "../shared-images/post2.jpg";
import post3 from "../shared-images/post3.jpg";

const articles = [
  {
    title:
      "Use a nossa tecnologia para monitorar os níveis de potássio na sua plantação",
    image: post1,
    date: "16/04",
    link: "https://www.linkedin.com/posts/zeitia_zeitk-tecnologianoagro-manejodeprecisaeto-activity-7318604186927951873-mnX5?utm_source=share&utm_medium=member_desktop&rcm=ACoAADbLImYBq5UivsS5NVDsDWvdqrnE5AnmK9o",
  },
  {
    title:
      "Mais eficiência e lucratividade na sua plantação com o uso da inteligência artificial",
    image: post2,
    date: "26/06",
    link: "https://www.linkedin.com/posts/zeitia_zeit-inovaaexaetonoagro-inteligaeanciaartificial-activity-7342989829896294400-aJxZ?utm_source=share&utm_medium=member_desktop&rcm=ACoAADbLImYBq5UivsS5NVDsDWvdqrnE5AnmK9o",
  },
  {
    title:
      "Co-fundadora da Zeit está entre as 2 gaúchas selecionadas para o prêmio Empretec Women in Business",
    image: post3,
    date: "13/06",
    link: "https://www.linkedin.com/posts/paula-dalla-vecchia-60b64913a_empretec-inovaaexaeto-lideranaexafeminina-activity-7339394955129380865-FyE5?utm_source=share&utm_medium=member_desktop&rcm=ACoAADbLImYBq5UivsS5NVDsDWvdqrnE5AnmK9o",
  },
] as const;
---

<section class="bg-white py-10 md:py-20" aria-labelledby="newsletter-heading">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h2
      id="newsletter-heading"
      class="mb-4 text-center font-mono text-3xl font-bold text-gray-900 md:mb-6 md:text-left md:text-4xl lg:text-5xl"
    >
      Fique por dentro das <span class="text-accent-two">inovações</span> que estão
      moldando o agro do futuro.
    </h2>
    <p
      class="mx-auto mb-10 max-w-2xl text-center text-lg text-gray-700 md:mx-0 md:mb-16 md:text-left md:text-xl"
    >
      Assine nossa newsletter e receba, em primeira mão, novidades, cases de
      sucesso e tendências do setor.
    </p>

    <div
      class="mb-16 grid auto-rows-fr grid-cols-1 justify-items-center gap-8 md:grid-cols-2 md:justify-items-start lg:grid-cols-3"
    >
      {
        articles.map((article) => (
          <a
            href={article.link}
            target="_blank"
            rel="noopener noreferrer"
            class="flex h-full max-w-sm flex-col overflow-hidden rounded-lg bg-white transition-transform duration-300 ease-in-out hover:scale-[1.02] hover:shadow-xl"
            aria-label={`Read more about: ${article.title}`}
          >
            <figure class="relative h-72 w-full">
              <Image
                src={article.image}
                alt=""
                height={800}
                width={1000}
                class="h-full w-full object-cover object-center"
                loading="lazy"
              />
            </figure>
            <div class="bg-accent-two h-50 p-6 text-white">
              <h3 class="mb-2 text-xl font-semibold">{article.title}</h3>
              <p class="text-sm">{article.date}</p>
            </div>
          </a>
        ))
      }
    </div>

    <h3
      class="mb-6 text-center font-mono text-xl font-bold text-gray-900 md:text-2xl"
    >
      Quer receber as últimas notícias da Zeit?
    </h3>

    <div class="mx-auto flex justify-center">
      <a
        href="https://forms.gle/V7PBDbMLxqymbRJ89"
        target="_blank"
        rel="noopener noreferrer"
      >
        <PillButton style="accent"> QUERO ACOMPANHAR </PillButton>
      </a>
    </div>
  </div>
</section>
