---
import { Image } from "astro:assets";
import renan_buque from "./team/renan_buque.png";
import paula from "./team/paula.png";
import denilson from "./team/denilson.png";
import andrieli from "./team/andrieli.png";

import type { TeamMember } from "../types";

const teamMembers: TeamMember[] = [
  {
    name: "Renan Buque Pardinho",
    role: "Cofundador & Diretor Comercial",
    imageUrl: renan_buque,
    linkedinUrl: "https://www.linkedin.com/in/renanbpardinho/",
  },
  {
    name: "Paula Dalla Vecchia",
    role: "Cofundadora & Diretora de Operações P&D",
    imageUrl: paula,
    linkedinUrl: "https://www.linkedin.com/in/paula-dalla-vecchia/",
  },
  {
    name: "Denílson Ebling",
    role: "Diretor de Tecnologia",
    imageUrl: denilson,
    linkedinUrl: "https://www.linkedin.com/in/denilson-ebling/",
  },
  {
    name: "Andrieli Stefanello",
    role: "Coordenadora de P&D",
    imageUrl: andrieli,
    linkedinUrl: "https://www.linkedin.com/in/andrieli-stefanello/",
  },
];
---

<section
  class="bg-[#EFEFF0] px-4 py-16 md:py-24"
  aria-labelledby="team-heading"
>
  <div class="mx-auto max-w-7xl">
    <header class="mb-12 text-center md:text-left">
      <h2
        id="team-heading"
        class="font-mono text-left text-3xl leading-tight font-extrabold text-textdark md:text-4xl lg:text-5xl"
      >
        Quem entende o campo, <span class="text-accent-one">faz acontecer.</span
        >
      </h2>
      <p
        class="mx-auto mt-4 max-w-3xl text-base text-left text-textdark md:mx-0 md:text-lg"
      >
        Por trás de cada solução, há um time de especialistas apaixonados pelo
        que fazem. Conheça as mentes que estão revolucionando o agro com
        tecnologia.
      </p>
    </header>

    <div class="grid gap-8 grid-cols-2 md:grid-cols-4">
      {
        teamMembers.map((member) => (
          <article class="flex flex-col overflow-hidden rounded-lg bg-white">
            <figure class="relative h-60 w-full">
              <Image
                src={member.imageUrl}
                height={230 * 4}
                alt={`Foto de perfil de ${member.name}`}
                class="h-full w-full object-cover object-top"
                loading="lazy"
              />
            </figure>
            <div class="flex flex-grow flex-col p-6">
              <h3 class="mb-1 text-xl font-semibold text-textdark">
                {member.name}
              </h3>
              <p class="mb-4 text-sm text-textdark font-medium">
                {member.role}
              </p>
              <a
                href={member.linkedinUrl}
                target="_blank"
                rel="noopener noreferrer"
                class="focus:ring-opacity-50 mt-auto inline-flex items-center rounded-md text-gray-500 transition-colors hover:text-blue-600 focus:ring-2 focus:ring-blue-500 focus:outline-none"
                aria-label={`Perfil de LinkedIn de ${member.name}`}
              >
                <svg
                  class="mr-1 h-5 w-5"
                  fill="currentColor"
                  viewBox="0 0 256 256"
                  aria-hidden="true"
                >
                  <path d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453" />
                </svg>
              </a>
            </div>
          </article>
        ))
      }
    </div>

    <div class="mt-16 text-center">
      <span
        class="inline-block h-3 w-3 rounded-full bg-green-500"
        aria-hidden="true"></span>
    </div>
  </div>
</section>
